name: "Release"
on: workflow_dispatch
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Build"
        run: |
          npm i -g pnpm@10.25
          pnpm install
          pnpm lint
          pnpm test
          pnpm build
      - name: "Prepare release"
        run: pnpm add -D conventional-changelog-conventionalcommits
      - name: "Release"
        uses: cycjimmy/semantic-release-action@v4
        with:
          semantic_version: 24.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
